@CHARSET "UTF-8";

a {
	text-decoration: none;
}

._table {
	display: table;
}

.table-row {
	display: table-row;
}

.table-cell {
	display: table-cell;
	vertical-align: middle;
}

.mainTable {
	margin-top: 10px;
}

[data-ng-cloak] {
	display: none;
}

button.disablable-button[disabled] {
	color: gray;
}